<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <ul>
        <!-- 这种不加key遍历时, 渲染后, 在数组中间插入元素, 元素会一次向后替换 -->
        <li v-for="item in letters">{{ item }}</li>
      </ul>

      <hr />

      <ul>
        <!-- 这种加key唯一属性遍历时, 渲染后, 在数组中间插入元素, 元素匹配之前的, 然后新加的那个新创建元素 -->
        <li v-for="(item, key) in letters" :key="item">{{ item }}</li>
      </ul>
    </div>

    <script src="../js/vue.js"></script>
    <script>
      const app = new Vue({
        el: "#app",
        data: {
          letters: ["A", "B", "C", "D", "E"],
        },
      });
    </script>
  </body>
</html>
