<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <label v-for="item in originHobbies">
        <input type="checkbox" :value="item" v-model="hobbies" />{{ item }}
      </label>
      <h2>你的爱好是: {{ hobbies }}</h2>
    </div>

    <script src="../js/vue.js"></script>
    <script>
      const app = new Vue({
        el: "#app",
        data: {
          message: "你好",
          hobbies: [], //多选框
          originHobbies: ["篮球", "足球", "羽毛球", "网球"],
        },
      });
    </script>
  </body>
</html>
