<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <cpn></cpn>

      <cpn>
        <!-- 目的是获取子组件中的movies -->
        <template slot-scope='slot'>
          <!-- <span v-for="item in slot.data" :key="index">{{ item }} - </span> -->
          <span>{{ slot.data.join('-') }}</span>
        </template>
      </cpn>

      <cpn>
        <!-- 目的是获取子组件中的movies -->
        <template slot-scope='slot'>
          <!-- <span v-for="item in slot.data" :key="index">{{ item }} * </span> -->
          <span>{{ slot.data.join('*') }}</span>
          
        </template>
      </cpn>
    </div>

    <template id="cpn">
      <div>
        <slot :data='movies'>
          <ul>
            <li v-for="item in movies" :key="index">{{ item }}</li>
          </ul>
        </slot>
      </div>
    </template>

    <script src="../js/vue.js"></script>
    <script>
      const app = new Vue({
        el: "#app",
        data: {
          message: "你好",
        },
        components: {
          cpn: {
            template: "#cpn",
            data() {
              return {
                movies: ["海贼王", "大话西游", "霸王别姬"],
              };
            },
          },
        },
      });
    </script>
  </body>
</html>
